<%
  @settings ||= { }
%>

<table>
  <tbody>
    <tr>
      <td><%=l(:label_settings_do_lotus_output_notify) %></td>
      <td><%=check_box_tag 'settings[lotus_output_active]', true, @settings[:lotus_output_active] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_file_server_prefix) %></td>
      <td><%= text_field_tag 'settings[lotus_output_dir]', @settings[:lotus_output_dir] %></td>
    </tr>
    <tr>
      <td colspan="2"><h3><%=l(:label_settings_load_jobs_from_xml) %></h3></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_do_load_jobs_from_xml) %></td>
      <td><%= check_box_tag 'settings[do_load_jobs_from_xml]', true, @settings[:do_load_jobs_from_xml] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_do_load_jobs_from_xml_path) %></td>
      <td><%= text_field_tag 'settings[load_jobs_from_xml_path]', @settings[:load_jobs_from_xml_path] %></td>
    </tr>
    <tr>
      <td colspan="2"><h3><%=l(:label_settings_email_config) %></h3></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_do_email_notify) %></td>
      <td><%=check_box_tag 'settings[lotus_output_email_active]', true, @settings[:lotus_output_email_active] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_email_to_notify) %></td>
      <td><%= text_field_tag 'settings[lotus_email_to]', @settings[:lotus_email_to] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_email_sender) %></td>
      <td><%= text_field_tag 'settings[lotus_email_from]', @settings[:lotus_email_from] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_email_subject) %></td>
      <td><%= text_field_tag 'settings[lotus_email_subject]', @settings[:lotus_email_subject] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_email_smtp) %></td>
      <td><%= text_field_tag 'settings[lotus_email_server]', @settings[:lotus_email_server] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_email_port) %></td>
      <td><%= text_field_tag 'settings[lotus_email_port]', @settings[:lotus_email_port] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_email_login) %></td>
      <td><%= text_field_tag 'settings[lotus_email_user]', @settings[:lotus_email_user] %></td>
    </tr>
    <tr>
      <td><%=l(:label_settings_email_pass) %></td>
      <td><%= password_field_tag 'settings[lotus_email_pass]', @settings[:lotus_email_pass] %></td>
    </tr>
  </tbody>
</table>
