<h2><%=l(:label_dayoff_title) %></h2>

<%= form_tag(@dayoff_entry_post_url) do %>

<div class="box tabular">
  <p>
    <label for="time_entry_issue_id"><%=l(:field_from_dayoff_date) %></label>
        <%= text_field_tag :dayoff_entry_form_from, @dayoff_entry.from.strftime("%Y-%m-%d") %>
  </p>
  <p>
    <label for="time_entry_issue_id"><%=l(:field_to_dayoff_date) %></label>
        <%= text_field_tag :dayoff_entry_form_to, @dayoff_entry.to.strftime("%Y-%m-%d") %>
  </p>
  <p>
    <label for="time_entry_issue_id"><%=l(:field_dayoff_activity_type) %></label>
        <%= select_tag :dayoff_entry_form_activity_type, options_for_select(@activity_types, @activity_type_default) %>
  </p>
</div>

<%= submit_tag(l(:button_create)) %>

<% end %>

<%= javascript_tag do %>
   $(function() {
   		var datepicker_from = $("#<%=:dayoff_entry_form_from %>");
   		var datepicker_to = $("#<%=:dayoff_entry_form_to %>");
     	datepicker_from.datepicker({
				showOn: "button",
				buttonImage: "/images/calendar.png",
				buttonImageOnly: true,
				buttonText: "Select date",
				dateFormat: "yy-mm-dd",
				maxDate: new Date(),
				onSelect: function (dateText, inst) {
					var newDate = new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay);
					datepicker_to.datepicker("option", "minDate", newDate);
				}
			});
     	datepicker_to.datepicker({
				showOn: "button",
				buttonImage: "/images/calendar.png",
				buttonImageOnly: true,
				buttonText: "Select date",
				dateFormat: "yy-mm-dd",
				minDate: new Date(),
				maxDate: new Date(),
				onSelect: function (dateText, inst) {
					var newDate = new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay);
					datepicker_from.datepicker("option", "maxDate", newDate);
				}
			});
  });
<% end %>
