<%= javascript_include_tag 'lotus_sync_entrytype.js', :plugin => :redmine_lotus_sync %>
<%= javascript_include_tag 'lotus_sync_issue.js', :plugin => :redmine_lotus_sync %>
<%= javascript_include_tag 'lotus_sync_newproj.js', :plugin => :redmine_lotus_sync %>
<%= javascript_include_tag '//cdn.datatables.net/1.10.4/js/jquery.dataTables.js' %>

<%= stylesheet_link_tag '//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css' %>