<h2><%=l(:label_jobs_title) %></h2>

<table id="jobnumber_table" class="display" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
            	  <th><%=l(:label_lotus_jobs_list_header_id) %></th>
                <th><%=l(:label_lotus_jobs_list_header_job_number) %></th>
                <th><%=l(:label_lotus_jobs_list_header_client) %></th>
                <th><%=l(:label_lotus_jobs_list_header_brand) %></th>
                <th><%=l(:label_lotus_jobs_list_header_company) %></th>
                <th><%=l(:label_lotus_jobs_list_header_job_description) %></th>
            </tr>
        </thead>
</table>

<%= javascript_tag do %>
   $(function() {
   		$('#jobnumber_table').DataTable({
			   	    "ajax" : "/lotus-jobs-json",
              "processing": true,
              "serverSide": true,
			   	    "deferRender": true,
              "order": [[ 0, "desc" ]]
		    	});
  });
<% end %>